/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

/* Variable assignments for light and dark mode */
:root {
  --black: #100318;
  --grayPurple: #525469;
  --bgColour: #c6d7f7;
  --fgColour: #0d273b;
  --fgColourLighter: #d8dee7;
  --headerTextColor:var(--fgColourLighter);
}

/* Main Container and Restyle HTML Tags */
* {
  background-color: var(--bgColour);
  padding: 0;
  margin: 0;
}

main {
  padding-bottom: 2rem;
  margin-left: 2.5%;
  margin-right: 5%;
}

/* Fonts */
h4,
button,
span,
p,
a:not(.header-icon-link) {
  font-family: 'Major Mono Display';
}

h2,
h3,
input {
  font-family: 'Major Mono Display';
}

h4 {
  color: var(--fgColour);
  height: 100%;
}

p {
  padding-top: 0.5rem;
  color: var(--fgColourLighter);
  font-size: smaller;
}

.title {
  color: var(--fgColour);
  padding-top: 2rem;
  padding-bottom: 1rem;
}

h3 {
  color: var(--fgColour);
}

/* Header and Footer Styles */
.page-header {
  background-image: linear-gradient(var(--black), var(--grayPurple));
  width: 100%;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--headerTextColor);
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.page-header * {
  background-color: transparent;
  padding-left: 3%;
}

.page-footer {
  background-color: var(--black);
  position: fixed;
  bottom: 0px;
  height: 0.75rem;
  width: 100%;
}

/* Components Styles */





