/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

:root {
  --black: #100318;
  --grayPurple: #525469;
  --bgColour: #c6d7f7;
  --fgColour: #0d143b;
  --fgColourLighter: #d8dee7;
  --headerTextColor:var(--fgColourLighter);
}

/* Main Container and Restyle HTML Tags */
* {
  background-color: var(--bgColour);
  padding: 0;
  margin: 0;
}

main {
  padding-bottom: 2rem;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

/* Fonts */
h4,
button,
span,
p,
a:not(.header-icon-link) {
  font-family: 'Major Mono Display';
}


h3,
input {
  font-family: 'Major Mono Display';
}

h2 {
  font-family: 'Black Han Sans';
  font-weight: 300;
  font-size: 30px;
}

h4 {
  color: var(--fgColour);
  height: 100%;
}

p {
  padding-top: 0.5rem;
  color: var(--fgColourLighter);
  font-size: smaller;
}

.title {
  color: var(--fgColour);
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-family: "Black Han Sans";
  font-weight: 300;
}

h3 {
  color: var(--fgColour);
}

/* Header and Footer Styles */
.page-header {
  background-image: linear-gradient(var(--black), var(--grayPurple));
  width: 100%;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--headerTextColor);
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.page-header * {
  background-color: transparent;
  padding-left: 3%;
}

.page-header h2 {
  font-family: 'Major Mono Display';
}

.page-footer {
  background-color: var(--black);
  position: fixed;
  bottom: 0px;
  height: 0.75rem;
  width: 100%;
}

/* Components Styles */
.main-container {
  display: flex;
  justify-content: space-evenly;
  /* padding-top: 1rem; */ 
}

.right-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.left-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
}

.icon-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* align-items: center; */
  padding-top: 1rem;
  /* flex-grow: 1; */
  /* padding-left: 30%; */
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* flex-shrink: 0.5; */
  flex-grow: 0.5;
  justify-content: space-evenly;
}

.text-fielder {
  color: var(--fgColour);
}


